*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    padding-top: 15px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;


    .contenedor{
        width: 1200px;
        height: 250px;
        background-color: #F6F1EB;
        margin: auto;
        display: flex;
        flex-direction: row;
        position: relative;
        .slider{
            width:760px;
            display: flex;
            flex-direction: row;
            position: relative;
            flex-wrap: wrap;
            z-index: 2;
            position: relative;
            overflow: hidden;
            .img{
                width: 250px;
                margin-right: 5px;
                display: flex;
                flex-direction: row;
                img{
                    width: 100%;
                    margin-right: 5px;
                }
            }
            .botones{
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 35px;
                height: 7px;
                position: absolute;
                margin: 226px 195px 17px 20px;
                .dot {
                    cursor: pointer;
                    height: 7px;
                    width: 7px;
                    background-color: #444;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                    opacity: 0.5;                   
                    &:hover{
                        background-color: #444; 
                        opacity: 1;
                    }
                }
                .active{
                    background-color: #444;
                    opacity: 1;
                }
                .dot:nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6){
                    display: none;
                }
            } 
        }

        .main{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 24px 43px 26px 49px;
            // position: relative;
            .logo{
                width: 100px;
                height: 57px;
                margin-bottom: 20px;
                img{
                    width: 100%;
                }
            }
            .contenido{
                width: 348px;
                height: 200px;
                display: flex;
                flex-direction: column;
                .titulo{
                    width: 348px;
                    height: 50px;
                    margin-bottom: 5px;
                    p{
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 21.09px;
                        text-align: center;
                        width: 1005;
                    }
                }
                .desc{
                    width: 306px;
                    height: 34px;
                    margin: 0px 19px 15px 23px;
                    p{
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14.06px;
                        text-align: center;
                        width: 100%;
                    }
                }
                .enlace{
                    width: 162px;
                    height: 19px;
                    margin: 0px 90px 26px 96px;
                    a{
                        color: #000;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 18.75px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width:960px ) {
    body{
        .contenedor{
            width: 960px;
            .slider{
                width: 510px;
            }
            .main{
                padding:23px 0px 27px 0px ;
                width: 440px;
            }
        }
    }
}

@media (max-width:768px ) {
    body{
        .contenedor{
            width: 768px;
            .slider{
                width: 250px;
                .img{
                   img{
                       width: 250px;
                       height: 250px;
                   }
                }
            }
            .main{
                padding: 24px 83px 26px 87px;
                .contenido{
                    margin-left: 87px;
                }
                .logo{
                    margin-left: 85px;
                }
            }
        }
    }
}

@media (max-width:600px) {
    body{
        width: 375px;
        height: 667px;
        padding-top: 0px;
        .contenedor{
            width: 375px;
            height: 667px;
            flex-direction: column-reverse;
            align-items: flex-start;
            .slider{
                width: 375px;
                height: 375px;
                .img{
                    width: 375px;
                    img{
                        width: 375px;
                        height: 375px;
                    }
                }
            }
            .main{
                padding: 0px 0px;
                width: 375px;
                .logo{
                    margin-top: 47px;
                    margin-right: 90px;
                }
                .contenido{
                    margin: 0px 5px -30px 0px;
                    .enlace{
                        margin-bottom: 45px;
                    }
                }
            }
        }
    }
}